.concert-img-icon {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 242px;
  flex-shrink: 0;
  object-fit: cover;
}
.concert-id,
.concert-img-icon,
.concert-name {
  align-self: stretch;
  position: relative;
}
.concert-id {
  letter-spacing: 0.02em;
  font-weight: 500;
}
.concert-name {
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto-serif);
  color: var(--color-black);
}
.concert-id-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.concert-details-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.concert-details,
.concert-details-inner,
.rec-card-12 {
  align-self: stretch;
  align-items: center;
}
.concert-details {
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
  justify-content: center;
}
.rec-card-12 {
  flex: 1;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--color-whitesmoke-100);
  justify-content: flex-start;
}
.concert-details1,
.rec-card-12,
.rec-card-22 {
  display: flex;
  flex-direction: column;
}
.concert-details1 {
  align-self: stretch;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  padding: var(--padding-xl) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.rec-card-22 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--color-whitesmoke-100);
  justify-content: flex-start;
}
.cardwrapper2,
.concerts1,
.rec-card-22 {
  align-self: stretch;
  align-items: center;
}
.concerts1 {
  display: grid;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.cardwrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-roboto);
}
